<% provide(:title, 'Sign up') %>
<h1 class = "text-center">Sign up</h1>


<!--Form for signup page-->
<form>
	<div class = "row">
		<div class = "large-4 medium-6 small-centered columns">
			<label>Name
				<input type = "text" placeholder = "Enter name">
			</label>
		</div>
	</div>
	<div class = "row">
		<div class = "large-4 medium-6 small-centered columns">
			<label>Email
				<input type = "text" placeholder = "Enter email">
			</label>
		</div>
	</div>
	<div class = "row">
		<div class = "large-4 medium-6 small-centered columns">
			<label>Password
				<input type = "text" placeholder = "Enter password">
			</label>
		</div>
	</div>	
	<div class = "row">
		<div class = "large-4 medium-6 small-centered columns">
			<label>Confirm Password
				<input type = "text" placeholder = "Reenter Password">
			</label>
		</div>
	</div>	
	<div class = "row text-center">
		<a href="#" class="button success radius">Create Account</a>
	</div>
</form>
